.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.loadingBar {
    /*background-color: red;*/
    height: 40px;
}

.loaderWrap {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .containerCards {
        max-width: 100%;
        max-height: 100%;
    }
}