.containerCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.red {
    background-color: red;
    height: 40px;
}

@media only screen and (max-width: 600px) {
    .containerCards {
        max-width: 100%;
        max-height: 100%;
    }
}